@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

.carousel {
    display: flex;
    flex: 1;
    position: relative;
    z-index: 2;
}

.item {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0) !important;
}


.day-of-month {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Noto Sans Display', sans-serif;*/
    font-size: 18px;

    color: #FFFFFF;
}

.day-of-week {
    font-family: 'Montserrat', sans-serif, monospace;
    /*font-family: 'Noto Sans Display', sans-serif;*/
    font-size: 24px;

    color: #F87B44;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
    margin: 15px 20px 10px 20px;
}

.schedule {
    overflow: scroll;
    max-height: 65vh;
}

@media screen and (max-width: 500px) {
    .day-of-month {
        font-size: 16px;
    }

    .day-of-week {
        font-size: 22px;
    }
}

