.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 25px;
}

hr {
    border: none;
    border-top: solid #CDCCD1 1px;
    margin: 25px;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
        width: 90%;
        align-self: center;
        height: 35vh;
        padding: 35px 0;
    }

    .wrapper {
        margin: calc((60vh - 70px) / 2) 0;
    }
}
